/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* белый #FFFFFF; */
/* акцент синий #2196F3; */
/* контакты футер rgba(255, 255, 255, 0.6); */
/* основной цвет фона #FFFFFFF; */
/* вторичный цвет фона #2F303A;*/
/* дополнительный цвет фона #F5F4FA; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #ffffff;
  --background-grey: #f5f4fa;
  --background-dark: #2f303a;
  --transparent-white: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* utilites */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* page header */

.page-header {
background-color: var (var(--white-color));
}

/* logo */
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.gen-logo {
  

  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway; sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo2 {
  color: var(--title-text-color);
}
.logo3 {
  color: var(--white-color);
}

 .main-nav {
  display: flex;
  align-items: center;
} 
.navigation {
  display:flex;
  align-items: center;
  
}


/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .nav-item + .nav-item{
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  text-align: center;
  background-color: var(--background-dark);
}
.hero-list {
  margin-top: 0;
  margin-bottom: 30px;
  

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  
  letter-spacing: 0.06em;
}


/* feature list */
.features {
  display: flex;
  
 }
.features .feature-item {
  width: 270px;
  background-color: tomato;
}

.images {
  display:flex;
}
.cadres{
  display: flex;
}


/* section and team */
.section-title,
.teams-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* team */
.section.team {
  background-color: var(--background-grey);
}
.team-title {
  /* margin-top: 30px;
  margin-bottom: 0; */


  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-dsr {
  /* margin-top: 10px;
  margin-bottom: 30px; */

  font-size: 16px;
  line-height: 1.19;
}
/* features */
.feature-list {
  padding-top: 94px;
}
.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

 }
 /* .feature-list p {
   margin-top: 0;
   margin-bottom: 0;
 } */

 .section {
   padding-top: 94px;
   padding-bottom: 94px;
   
 }

 




/* button */
.btn-primary {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
    

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* details */
.details {
  background-color: var(--background-dark);
}
/* contacts */
.contacts {
display: flex;
margin-left:auto;

}
.contacts .contact-item + .contact-item{
  margin-left: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}





/* portfolio */
.filter .link {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid transparent;

  color: var(--title-text-color);
  background-color: var(--background-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
 
}
.filter .link:hover,
.filter .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  }
.filter .filter-btn + .filter-btn {
  margin-left: 8px;
}

/* Items */

.items {
 display: flex;
 flex-wrap: wrap;
}
.items li {
  width: 370px;
  margin-right: 30px;
}

.items .item {
  margin-top: 0;
  margin-bottom: 0;


  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.items .item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
}
.detail .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparent-white);
  text-decoration: none;
}
.detail .link:hover,
.detail .link:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
}
